/* Global Variables */

:root {
    --Nav_Bar_BG: #000000;
    --Div_BG: hsla(0, 0%, 100%, 0.8);

    --SmallestRem: 0.1rem;
    --SmallRem: 2rem;
    --MediumRem: 5rem;
    --LargeRem: 10rem;
    --LargerRem: 20rem;
    --LargestRem: 30rem;

    --SmallestVh: 0.1vh;
    --SmallerVh: 0.1vh;
    --SmallVh: 2vh;
    --MediumVh: 5vh;
    --LargeVh: 10vh;
    --LargerVh: 20vh;
    --LargestVh: 30vh;

    --SmallestVw: 0.1vW;
    --SmallerVw: 0.1vw;
    --SmallVw: 2vw;
    --MediumVw: 5vW;
    --LargeVw: 10vw;
    --LargerVw: 20vw;
    --LargestVw: 30vw;

    --MainFontColor: black;
    --SubMainFontColor: rgb(156, 156, 156);

    --BgColor1: hsl(0 0% 100% / 0.8);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

@supports (backdrop-filter: blur(var(--SmallerRem))) {
    .primary-navigation {
        background: var(--BgColor1);
        backdrop-filter: blur(var(--SmallerRem));
    }
}

/* End of 'Global Variables' */

/* Background Variables */

.BG_wrapper {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

#bgvideoplayer > video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    z-index: -10000;
}

/* End of 'Background Variables' */

/* Primary Header */

#navBarTopLeftLogo {
    width: auto;
    height: var(--LargeRem);
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: var(--gap,var(--SmallRem));
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: var(--BgColor1);
}

.primary-navigation a {
    text-decoration: none;
    color: var(--MainFontColor);
    font-size: var(--SmallRem);
    padding-right: var(--SmallRem);
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    color: var(--SubMainFontColor);
    margin-inline-end: var(--SmallerRem);
    margin-inline-start: var(--SmallRem);
    padding-right: var(--SmallerRem);
}

.mobile-nav-toggle {
    width: 0%;
    border: none;
}

/* End of 'Primary Header' */

/* Main */

.Main_PG {
    width: 80%;
    border: var(--SmallestRem);
    border-style: inset;
    border-width: var(--SmallerRem);
    border-color: var(--SubMainFontColor);
    border-radius: var(--SmallRem);
    backdrop-filter: sepia(50%);
    background: var(--Div_BG,green);
}

/* End of 'Main' */

/* Footer */

.bottomFooter{
    color: var(--MainFontColor);
    background-color: var(--BgColor1);
    padding: var(--SmallerRem);
    bottom: 0;
    width: 100%;
    font-size: var(--SmallerRem);
    align-items: center;
    justify-content: center;
}

.bottomFooter a:link {
    color: var(--SubMainFontColor);
}

/* visited link */
.bottomFooter a:visited {
    color: var(--Nav_Bar_BG);
}

/* mouse over link */
.bottomFooter a:hover {
    color: var(--MainFontColor);
}

  /* selected link */
.bottomFooter a:active {
    color: var(--BgColor1);
}

/* End of 'Footer' */

/* Media Query */

/* For Large Screen */

@media (min-width: 85rem) {
    .primary-navigation {
        border-radius: var(--SmallRem) 0 0 var(--SmallRem);
        padding-block: var(--SmallVh);
        padding-inline: clamp(var(--SmallRem), var(--LargeVw), var(--MediumRem));
    }
}

/* For Tab Screen */

@media (min-width: 50rem) and (max-width: 85rem) {
    .primary-navigation a > span[aria-hidden]{
        display: none;
    }

    .primary-navigation a {
        padding-right: var(--SmallerRem);
    }

    .primary-navigation {
        padding: var(--SmallVh);
        border-radius: var(--SmallRem) 0 0 var(--SmallRem);
    }
}

/* For Phone Screen */
@media (max-width: 50rem) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: max(var(--LargestVh),var(--SmallRem)) var(--SmallRem);
        --gap: var(--SmallRem);
        z-index: 1000;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        position: absolute;
        background: url("Pics/Nav/HamburgerIcon.svg");
        width: auto;
        height: var(--SmallRem);
        background-size: var(--SmallRem);
        aspect-ratio: 1;
        top: var(--SmallRem);
        right: var(--SmallRem);
        z-index: 9999;
        /* box-shadow: 0 0 var(--SmallestRem) var(--SmallestRem) var(--SubMainFontColor); */
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("Pics/Nav/CloseIcon.svg");
        width: auto;
        height: var(--SmallRem);
        background-size: var(--SmallRem);
        aspect-ratio: 1;
    }
}

/* End of 'Media Query' */

