/* Global Variables */

:root {
    --Nav_Bar_BG: #000000;
    --Div_BG: hsla(150, 25%, 75%, 0.6);
    --SmallestRem: 0.1rem;
    --SmallRem: 1rem;
    --MediumRem: 2rem;
    --LargeRem: 4rem;
    --LargestRem: 6rem;
    --MainFontColor: black;
    --SubMainFontColor: dimgray;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* End of 'Global Variables' */

/* Background Variables */

.BG_wrapper {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

#bgvideoplayer > video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    z-index: -10000;
}

/* End of 'Background Variables' */

/* Primary Header */

#navBarTopLeftLogo {
    width: auto;
    height: var(--LargeRem);
    /* margin: var(--SmallestRem); */
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: var(--gap,var(--SmallRem));
}

.primary-header {
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    text-decoration: none;
    color: var(--MainFontColor);
    font-size: var(--MediumRem);
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    color: var(--SubMainFontColor);
    margin-inline-end: var(--SmallRem);
    margin-inline-start: var(--MediumRem);
}

/* End of 'Primary Header' */

/* Main */

.Main_PG {
    width: 80%;
    border: 1px;
    border-style: dashed;
    backdrop-filter: sepia(50%);
    background: var(--Div_BG,red);
}

/* End of 'Main' */

/* Media Query */

@media (min-width: 35rem) {
    
}

/* End of 'Media Query' */