:root {
    --Nav_Bar_BG: #000000;
    --Div_BG: hsla(150, 25%, 75%, 0.6);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.BG_wrapper {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#bgvideoplayer > video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    z-index: -10000;
}

.Main_PG {
    width: 80%;
    border: 1px;
    border-style: dashed;
    backdrop-filter: sepia(50%);
    background: var(--Div_BG,red);
}